@media (max-width: 1600px) {
  .container {
    max-width: 90%;
  }

  .header-container {
    margin: 0 0 0 60%;
  }

  .header {
    margin-top: 20px;
  }
}

@media (max-width: 1123px) {
  .logo__container {
    display: none;
  }

  .logo__header {
    display: block;
  }

  .header {
    justify-content: space-between;
    width: 100vh;
  }

  .header-container {
    margin: 0 auto;
  }

  .btn {
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .logo-800 {
    display: block;
  }

  .logo-1920 {
    display: none;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 44px;
    line-height: 178.4%;
  }

  .title-add {
    font-size: 40px;
    line-height: 138.4%;
  }

  .lng-cash {
    font-size: 80px;
    line-height: 138.4%;
  }

  .header {
    margin-top: 20px;
  }

  .swiper-slide img {
    height: 100%;
    /* object-fit: cover; */
  }

  .btn {
    font-size: 26.4463px;
    line-height: 32px;
    padding: 8px 31px;
  }
}

@media (max-width: 576px) {
  /* body {
    background-position: 18% 0;
  } */

  body {
    background-image: url(/img/background-mob.webp);
    background-size: cover;
  }

  .btn-signup,
  .btn-signin {
    display: none;
  }

  .logo__header-main {
    display: none;
  }

  .title {
    margin-bottom: 300px;
  }
}
